<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Liste des livres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let book of books">
    <ion-item (click)="presentModal(book)" [color]="book.lended == true ? 'warning' : ''">
      <ion-label>
        <h2>{{ book.title }}</h2>
        <h3>{{ book.lended == true ? book.lendedTo : ''}}</h3>
        <p>
          {{ book.content }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
