<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Liste des CD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let cd of cds">
    <ion-item (click)="presentModal(cd)" [color]="cd.lended == true ? 'warning' : ''">
      <ion-label>
        <h2>{{ cd.title }}</h2>
        <h3>{{ cd.lended == true ? cd.lendedTo : ''}}</h3>
        <p>
          {{ cd.content }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
